.label-style > a.ui.label {
    color: #22252C;
}

 button.ui.circular.circle-button {
    height: 36px;
   /* background-color: #22252C; */
}

#projects-container {
    background-color: #F5F5F5;
}

.ui.card {
    overflow: hidden;
}

img.ui.image.zoom-image {
  -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

img.ui.image.zoom-image:hover {
  -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
     transform:scale(1.05);
}