
a.about-link {
    color: #E14658;
    text-decoration: none;
}

a.about-link:hover
{
     color: #E14658;
     text-decoration:underline;
     cursor:pointer;
}

a.link-underline:hover
{
  text-decoration:underline;
}

.parallax-about {
    /* The image used */
    background-image: url('../../../public/images/about/computer.jpg');

    /* Set a specific height */
    min-height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paragraph-white {
  color: white;
}

.bordered-image-white {
  border: solid white 2px;
}

.spaced-image {
  margin: 25px !important;
}
