.parallax-home {
  background-image: url("/images/splash2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Get rid of margins on smaller screen for containers*/
.ui.fluid.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.ui.inverted.button:hover {
  color: #E14658;
}

.ui.inverted.button {
  box-shadow: 0 0 0 2px white inset !important;
  color: white;
}

.ui.inverted.button.navy-button:hover {
  color: #E14658;
}

.ui.inverted.button.navy-button {
  color: white;
}
