/*Get rid of margins on smaller screen for containers*/
.ui.fluid.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.ui.inverted.button:hover {
  color: #E14658;
}

.ui.inverted.button {
  box-shadow: 0 0 0 2px white inset !important;
  color: white;
}

.ui.inverted.button.navy-button:hover {
  color: #E14658;
}

.ui.inverted.button.navy-button {
  color: #22252C;
}
