/* Post Text Style */
.pink-header {
  color:#E14658 !important;
  font-size: 3rem !important;
  margin: 0 !important;
}

.pink-header-mobile {
  color:#E14658 !important;
  margin: 0 !important;
}

.purple-subheader {
  color:#883677 !important;
}

/*Markdown Style*/
.blog-style h1 {
  color: #E14658;
  font-size: 3rem;
}

.blog-style ul, li{
   color: #3F3250;
}

.blog-style h2, h3, h4, h5 {
  color: #E14658;
}
  
.blog-style p {
  color: #3F3250;
}

.blog-style-mobile p {
  color: #3F3250;
  margin-right:5px;
  margin-left:5px;
}

h1 > .content {
  padding-top: 20px;
}

/*Image Style*/
.image-style {
  margin-top: 45px;
  margin-bottom: 45px;
  max-height: 500px;
  box-shadow: 1px 1px 5px #d3d3d3;
}

.image-style-preview {
  max-height: 250px;
  box-shadow: 1px 1px 5px #d3d3d3;
}

/*See More Button Style*/
.ui.inverted.right.floated.button.see-more-button {
  background: #E8E8E8;
  color: #22252C;
  box-shadow: 0 0 0 2px #E8E8E8 inset !important;
}

.ui.inverted.right.floated.button.see-more-button:hover {
  background: #22252C;
  color: white;
  box-shadow: 0 0 0 2px #22252C inset !important;
}

/*Post Padding Style*/
.post-padding-full {
  padding-bottom:50px;
}

.post-padding-preview {
  margin-top:50px;
  padding-bottom:50px;
}

.blog-style img { 
    box-shadow: 1px 1px 5px #d3d3d3;
}
