/* Post Text Style */
.pink-header {
  color:#E14658 !important;
  font-size: 3rem !important;
  margin: 0 !important;
}

.purple-subheader {
  color:#883677 !important;
}

/*Markdown Style*/
.blog-style h1 {
  color: #E14658;
  font-size: 3rem;
}

.blog-style ul, li{
   color: #3F3250;
}

.blog-style h2, h3, h4, h5 {
  color: #E14658;
}
  
.blog-style p {
  color: #3F3250;
}

/*Image Style*/
.image-style {
  max-height: 300px;
  box-shadow: 1px 1px 5px #d3d3d3;
}

/*See More Button Style*/
.ui.inverted.right.floated.button.see-more-button:hover {
  background: #E14658;
  color: white;
  box-shadow: 0 0 0 2px #E14658 inset !important;
}

/*Post Padding Style*/
.post-padding-preview {
  margin-top:25px;
  padding-top:50px;
  padding-bottom:50px;
}
.post-padding-full {
  padding-bottom:50px;
}

.blog-style img { 
    box-shadow: 1px 1px 5px #d3d3d3;
}
